<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132904533499-pl96u47bbejl7jfq6bgn8c4rgn35o4re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132904533499-pl96u47bbejl7jfq6bgn8c4rgn35o4re</string>
	<key>API_KEY</key>
	<string>AIzaSyC2V6Pau_6Of267w4_Ro51P0eoRf_YslJE</string>
	<key>GCM_SENDER_ID</key>
	<string>132904533499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joulsLabsDemoApp</string>
	<key>PROJECT_ID</key>
	<string>joulslabs</string>
	<key>STORAGE_BUCKET</key>
	<string>joulslabs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132904533499:ios:f71e2c4e1ffa40ba6a9f5e</string>
</dict>
</plist>